*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: silver;
  font-family: 'Manrope', sans-serif;
}

main{
  margin: 0 auto;
  background-color: white;
  width: 1440px;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.sec-1{
  padding-bottom: 150px;
}

.grid-container{
  width: 1200px;
}

.sec-1__grid{
  display: grid;
  grid-template-columns: 624px 600px;
  grid-template-rows: 624px;
  grid-column-gap:113px;
}

.grid-item-1{
background: rgba(255, 200, 200, 0.18);
box-shadow: inset 0px 4px 16px 4px rgba(255, 102, 102, 0.12);
border-radius: 0px 190px 0px 0px;
transform: matrix(1, 0, 0, -1, 0, 0);
}

.sec-1__img{
transform: matrix(1, 0, 0, -1, 0, 0);
}

.form-1{
  text-align: end;
}

.btn-1{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: -0.01em;
margin-top: 16px;
padding: 9px 40px;
border: 1px solid black;
border-radius: 30px;
background-color: white;
cursor: pointer;
}

.btn-1:hover{
background-color: rgb(20, 16, 236);
border: 1px solid transparent;
color: white;
}

.grid-item-2__title{
height: 192px;
  font-weight: 900;
font-size: 57px;
line-height: 64px; 
color: #000000;
}

.grid-item__text{
  margin-top: 80px;
  width: 457px;
height: 52px;
  font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #000000;
}

.btn-start{
  color: white;
  padding: 12px 48px;
  background-color: #E60000;
  border-radius: 120px;
  border: 1px solid transparent;
  margin-top: 30px;
  cursor: pointer;
}

.btn-start:hover{
  color:yellow;
  background-color: rgba(0, 8, 252, 0.559);
}

.sec-2{
  height: 410px;
background: #FCFCFC;
box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.sec-2__grid{
  display: grid;
  grid-template-columns: 538px 902px;
  grid-column-gap: 56px;
}

.sec-2__grid-item-2{
  padding: 48px 0;
}

.sec-2__title{
  font-weight: 800;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.02em;
color: #000000;
}

.sec-2__texts{
  width: 596px;
  height: 246px;
}
.sec-2__text{
  margin-top: 20px;
  font-weight: 500;
font-size: 18px;
line-height: 30px;  
}

.sec-3{
padding-top: 144px;
}
.sec-3__first-title{
  text-align: center;
  font-weight: 800;
font-size: 32px;
line-height: 44px;

letter-spacing: -0.02em;

color: #000000;
}

.wrapper-numbers{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.number-item{
width: 278px;

}

.item-number{ 
 text-align: center;
  font-weight: 800;
font-size:54px;
line-height: 60px;
letter-spacing: -0.02em;
color: #E50000;
}

.item-text{
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.works{
  margin-top: 144px;
  
}

.works-grid{
  margin-top: 40px;
  display: grid;
  width: 100%;
  min-height: 500px;
  grid-template-columns: repeat(3,minmax(300px,100%));
  grid-template-rows: auto auto;
  gap: 30px;
}

.work-item-1{
border-radius: 24px;

}

.work-item-1:nth-child(2){
height: 292px;
}

.work-item-1:nth-child(5){
  margin-top: -164px;
}

.work-item-1:hover{
  box-shadow: 0 5px 5px 5px silver;
}

.about{
  display: flex;

  align-items: center;
  gap: 10px;
}

.bold{
  font-weight: 800;
font-size: 18px;
line-height: 30px;
color: #000000;
}

.job{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
opacity: 0.8;
}

hr{
  margin-top: 13px;
  opacity: 0.2;
}

.our-lessons{
  margin-top: 145px;
}

.lesson-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3,minmax(384px,100%));
  grid-template-rows: 695px;
}

.lesson-item{
  flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px;
gap: 10px;
width: 384px;
height: 695px;
background: #FFFFFF;
border: 1.5px solid #D9D9D9;
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 0;
}

.lesson-item:hover{
  box-shadow: 0 5px 5px 5px silver;
}
.lesson-img{
  width: 360px;
  height: 205px;
}

.lesson-title{
  margin-top: 20px;
  padding-left: 12px;
font-weight: 600;
font-size: 22px;
line-height: 30px;
color: #000000;
}

.lesson-text{
  width: 336px;
  height: 84px;
  padding: 10px;
  font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #000000;
}

.lesson__text-2{
  padding-left: 21px;
  margin-top: 20px;
  font-weight: 700;
font-size: 14px;
line-height: 30px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #000000;
opacity: 0.6;
}

.lesson-list{
  margin-top: 8px;
  padding-left: 43px;
}

.list-item{
  margin-bottom: 16px;
  width: 306px;
  font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #000000;
}

.batafsil{
  margin-top: 10px;
  width: 360px;
  height: 50px;
  border-radius: 10px;
cursor: pointer;
}

.batafsil:hover{
  background-color: #000000;
  color: white;
}

.savol{
  margin-top: 144px;
text-align: center;
}

.savol-form{
  display: grid;
  gap: 15px;
width: 817px;
margin: 50px auto;
}
.savol-btn{
  display: flex;
  justify-content: space-between;
  width: 817px;
  border-radius: 10px;
  padding: 10px 32px;
  font-weight: 500;
font-size: 20px;
line-height: 30px; 
cursor: pointer;
}

.savol-btn:hover{
  color: #FFFFFF;
  background-color:darkblue;
}

.savol-btn-2{
width: 17.5px;
height: 17.5px;
font-weight: 900;
font-size: 30px;
}

.maqolalar{
  margin-top: 100px;
  padding-bottom: 144px;
}

.maqola-grid{
  display: grid;
  grid-template-columns: repeat(2,minmax(588px,100%));
  grid-template-rows: repeat(2,193px);
  grid-column-gap: 24px;
  grid-row-gap: 26px;
  margin-top: 40px;
}

.maqola-item{
  display: flex;
  background: #FFFFFF;
border: 1.5px solid #EFEFEF;
border-radius: 12px;
}

.maqola-item:hover{
  box-shadow: 0 5px 5px 5px silver;
}
.maqola-text{
padding: 20px;
}

.maqola-text__text-1{
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.01em;
  width: 295px;
  color: #000000;
}

.maqola-text__text-2{
  font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: -0.01em;
color: #000000;
}

.sana{
  margin-top: 10px;
}

.sec-4{
  background-color: #FAFAFA;
}

.last{
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-right{
  display: flex;
  gap: 81px;
}

.tel-b{
  font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
margin-bottom: 16px;
}

.tel{
  margin-top: 16px;
  font-weight: 700;
font-size: 32px;
line-height: 30px;
color: #000000;
text-decoration: none;
}
.link{
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
}